/* Contenedor principal, sección de edición del meme*/

.main-container{
    background-color:  var(--colorSectionMeme);
}
.section-meme{
    width: 90vw;
    height:auto;
    background-color: var(--colorSectionMeme);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin: 0;
    padding-left: 10%;
}

.meme-container{
    background-color:black;
    width: 60%;
    max-width: 37.5rem;
    height: 37.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;   
}

.meme-image{
    width: 100%;
    height: 100%;
    flex-grow: 1;
    background-size: cover;
}

#top-text, #bottom-text{
    width: 100%;
    max-height: fit-content;
    background-color:var(--colorTopText);
    font-family: var(--mainFont);
    color: var(--mainColorFont);
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    padding: 2rem;
}

.button-download{
    width: 11rem;
    height: 2.5rem;
    background-color: var(--colorHeader);
    font-family: var(--FontPrimary);
    font-size: 1rem;
    font-weight: bold;
    color: var(--mainColorFond);
    border: 2px solid #072448 ;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(35, 35, 99);
    cursor: pointer;
    outline: none;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.button-download:hover, .download-button:focus {
    background-color: var(--colorButtonHover);
}

/* Media Queries */

@media (min-width: 500px) and (max-width: 1100px) {
    #top-text, #bottom-text{
        font-size: 2rem;
        height: 15%;
        word-wrap: break-word;
    }
    .meme-container{
        width: 100%;
        height: 100%;
    }
    .meme-image{
        height: 50vh;
    }
}
@media (max-width:500px){
    #top-text, #bottom-text{
        font-size: 1.5rem;
        height: 10%;
        padding-top: 10%;
        word-wrap: break-word;
    }
    .meme-container{
        width: 100%;
        margin-top: 15%;
        height: 60%;
    }
    .meme-image{
        height: 50vh;
    }
}